.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10 20px;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 16px;
  background: none;
  font-weight: 600;
  cursor: pointer;
  transition: color, ease 0.5s;
}

.login:hover {
  color: var(--dark2);
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 16px;
  background: none;
  border: 1.5px solid var(--white);
  font-weight: 600;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color, ease 0.5s;
}

.sign-up:hover {
  background-color: var(--cyan7);
  border: 1.5px solid var(--cyan7);
}
